@import "partials/variables";
@import "partials/mixins";
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap');

body {
    font-family: "Cairo", serif;
    font-weight: 900;
    background-color: lighten($text-color, $amount: 1);
    color: $text-color;
}

.navbar {
    background-color: $primary-color !important;

    .fa-bars {
        color: $text-color;
    }

    .navbar-brand {
        img {
            width: 100px;
        }
    }

    .collapse {
        a {
            color: $text-color;
            font-size: 20px;

            &:hover {
                color: lighten($text-color, 20%);

            }
        }

        .dropdown-menu {
            background-color: $primary-color;

            a {
                color: $text-color;

                &:hover {
                    color: lighten($text-color, 20%);
                }
            }
        }
    }

}

#carouselExampleAutoplaying {
    span.on-img {
        font-size: 2em;
        text-align: center;
        position: absolute;
        top: 70%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-image: linear-gradient($tertiary-color, $tertiary-color);
        background-size: 100% 10px;
        background-repeat: no-repeat;
        background-position: 100% 0%;
        transition: background-size .7s, background-position .5s ease-in-out;

        text-shadow: 1px 1px 5px black;
    }

    span.on-img:hover {
        background-size: 100% 100%;
        background-position: 0% 100%;
        transition: background-position .7s, background-size .5s ease-in-out;
    }

    .carousel-item {
        position: relative;

        img {
            height: 700px;
            object-fit: cover;
            object-position: center;
        }
    }

}

section.container-fluid {
    justify-content: center;
    display: flex;
    flex-direction: column;
    text-align: center;


}

.title {
    display: inline-block;
    padding: 10px 25px;
    border-radius: 10px;
    background-color: $tertiary-color;
    font-weight: 700;
}

.container-card {
    position: relative;
    margin: auto;
    overflow: hidden;
    width: 100%;
    height: 350px;
    background: $off-white;
    box-shadow: 5px 5px 15px rgba($dark-pink, .5);
    border-radius: 10px;
    direction: rtl;
    display: flex;
    align-items: center;

    p {
        font-size: 0.6em;
        color: $dark-pink;
        letter-spacing: 1px;
    }

    h1 {
        font-size: 1.2em;
        color: $dark-gray;
        margin-top: -5px;
    }

    h4 {
        color: $light-tan;
        font-size: 1em;
        margin-top: -5px;
    }

    img {
        height: 230px;
        width: 270px;
        object-fit: contain;
    }

    .slideshow-buttons {
        top: 70%;
        display: none;
    }

    .one {
        position: absolute;
        width: 7px;
        height: 7px;
        border-radius: 50%;
        background: $light;
        right: 22%;
    }


    .product-img,
    .product {
        width: 50%;
        float: right;
        height: 340px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        overflow: hidden;
        margin-right: 5px;

        a {
            text-decoration: none;
        }
    }

    .desc {
        text-transform: none;
        letter-spacing: 0;
        margin-bottom: 17px;
        color: $dark-gray;
        font-size: .7em;
        line-height: 1.6em;
        margin-left: 25px;
        text-align: justify;
    }

    button {
        background: darken($light, 10%);
        padding: 10px;
        display: inline-block;
        outline: 0;
        border: 0;
        margin: -1px;
        border-radius: 2px;
        text-transform: uppercase;
        letter-spacing: 1px;
        color: $off-white;
        cursor: pointer;

        &:hover {
            background: $dark-pink;
            transition: all .4s ease-in-out;
        }
    }

    .add {
        width: 67%;
    }

    .like {
        width: 22%;
    }

    ::-webkit-scrollbar {
        width: 15px;
    }

    ::-webkit-scrollbar-track {
        background-color: transparent;
    }

    ::-webkit-scrollbar-thumb {
        background-color: $light-pink;
        border-radius: 20px;
    }


    .pick {
        margin-top: 11px;
        margin-bottom: 0;
        margin-right: 20px;
        text-align: center;
    }

    .size {
        padding: 9px;
        border: 1px solid $light;
        font-size: 0.7em;
        text-align: center;

        &:hover {
            background: $dark-pink;
            color: $off-white;
            transition: all .4s ease-in-out;
        }
    }

    .focus {
        background: $dark-pink;
        color: $off-white;
    }

    footer {
        position: absolute;
        bottom: 0;
        left: 0;
        font-size: 0.8em;
        text-transform: uppercase;
        padding: 10px;

        p {
            letter-spacing: 3px;
        }

        a {
            color: #ffffff;
            text-decoration: none;

            &:hover {
                color: #7d7d7d;
            }
        }
    }

}


section#work {
    .product-card {

        display: flex;
        justify-content: center;


        .product-back {
            position: relative;
            width: 80%;
            height: 80%;

            h1.card-title {
                position: absolute;
                background-color: $tertiary-color;
                top: 10%;
                left: 50%;
                transform: translate(-50%, -50%);
                padding: 10px 20px;
                border-radius: 10px;
                font-weight: 800;
                z-index: 1;
            }

            h1.card-contact {
                position: absolute;
                background-color: $tertiary-color;
                top: 90%;
                left: 50%;
                transform: translate(-50%, -50%);
                padding: 10px 20px;
                border-radius: 10px;
                font-weight: 800;
                z-index: 1;
                color: $text-color;
            }

            .cube {
                position: absolute;
                height: 60%;
                background: $tertiary-color;
                box-shadow: 0 0 10px rgba($tertiary-color, 0.5);
                z-index: 1;
                display: flex;
                flex-direction: column-reverse;

                .cube-img-container {
                    position: relative;
                    display: flex;
                    align-items: flex-end;

                    .cube-img {
                        position: absolute;
                        width: 100%;
                        object-fit: cover;
                        object-position: bottom;
                        z-index: 3;
                        // transform: translateY(-25%);
                        left: 0%;
                    }
                }
            }

            .cube-middle {
                border-radius: 50px;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 30%;
            }

            .cube-left {
                width: 25%;
                top: 50%;
                left: 12.5%;
                border-radius: 0 50px 50px 0;
                transform: translate(-50%, -50%);
            }

            .cube-right {
                width: 25%;
                top: 50%;
                right: -12.5%;
                border-radius: 50px 0 0 50px;
                transform: translate(-50%, -50%);
            }

            .card-img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
                border-radius: 50px;
            }


            &::after {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: rgba(#3B3B3B, 0.6);
                border-radius: 50px;
            }
        }
    }
}

@media (max-width: 992px) {
    .navbar {
        .container-fluid {
            padding-bottom: 10px;
            ;
        }
    }

    .product-back {
        width: 90% !important;
    }
}

@media (max-width: 768px) {
    #carouselExampleAutoplaying {
        span.on-img {
            font-size: 1.5em;
        }

        .carousel-item {

            img {
                height: 600px !important;
            }
        }
    }

    #product {
        padding: 0 50px;
    }

    #work {
        padding: 0;

        .product-back {
            width: 100% !important;

            .card-title,
            .card-contact {
                font-size: 1.25rem;
            }

            img {
                border-radius: 0 !important;
            }

            &::after {
                border-radius: 0 !important;
            }

        }

        .cube-middle {
            border-radius: 10px !important;
        }

        .cube-left {
            width: 25%;
            top: 50%;
            left: 12.5%;
            border-radius: 0 10px 10px 0 !important;
            transform: translate(-50%, -50%);
        }

        .cube-right {
            width: 25%;
            top: 50%;
            right: -12.5%;
            border-radius: 10px 0 0 10px !important;
            transform: translate(-50%, -50%);
        }
    }
}

@media (max-width: 576px) {

    #carouselExampleAutoplaying {
        span.on-img {
            font-size: 0.9em;
        }

        .carousel-item {
            img {
                height: 400px !important;
            }
        }
    }

    #product {
        padding: 0;
    }

    .row {
        margin: 0 0;
        padding: 0 5px;
    }

    .container-card {
        h1 {
            font-size: 1em;
        }

        h4 {
            font-size: .8em;
        }

        .desc {
            font-size: 0.65em;
        }

        img {
            height: 180px;
            width: 200px;
            object-fit: contain;
        }
    }
}