@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap");
body {
  font-family: "Cairo", serif;
  font-weight: 900;
  background-color: #f5f1ff;
  color: #F2ECFF; }

.navbar {
  background-color: #312F55 !important; }
  .navbar .fa-bars {
    color: #F2ECFF; }
  .navbar .navbar-brand img {
    width: 100px; }
  .navbar .collapse a {
    color: #F2ECFF;
    font-size: 20px; }
    .navbar .collapse a:hover {
      color: white; }
  .navbar .collapse .dropdown-menu {
    background-color: #312F55; }
    .navbar .collapse .dropdown-menu a {
      color: #F2ECFF; }
      .navbar .collapse .dropdown-menu a:hover {
        color: white; }

#carouselExampleAutoplaying span.on-img {
  font-size: 2em;
  text-align: center;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: linear-gradient(#7771A8, #7771A8);
  background-size: 100% 10px;
  background-repeat: no-repeat;
  background-position: 100% 0%;
  transition: background-size .7s, background-position .5s ease-in-out;
  text-shadow: 1px 1px 5px black; }

#carouselExampleAutoplaying span.on-img:hover {
  background-size: 100% 100%;
  background-position: 0% 100%;
  transition: background-position .7s, background-size .5s ease-in-out; }

#carouselExampleAutoplaying .carousel-item {
  position: relative; }
  #carouselExampleAutoplaying .carousel-item img {
    height: 700px;
    object-fit: cover;
    object-position: center; }

section.container-fluid {
  justify-content: center;
  display: flex;
  flex-direction: column;
  text-align: center; }

.title {
  display: inline-block;
  padding: 10px 25px;
  border-radius: 10px;
  background-color: #7771A8;
  font-weight: 700; }

.container-card {
  position: relative;
  margin: auto;
  overflow: hidden;
  width: 100%;
  height: 350px;
  background: #F5F5F5;
  box-shadow: 5px 5px 15px rgba(186, 126, 126, 0.5);
  border-radius: 10px;
  direction: rtl;
  display: flex;
  align-items: center; }
  .container-card p {
    font-size: 0.6em;
    color: #BA7E7E;
    letter-spacing: 1px; }
  .container-card h1 {
    font-size: 1.2em;
    color: #4E4E4E;
    margin-top: -5px; }
  .container-card h4 {
    color: #C3A1A0;
    font-size: 1em;
    margin-top: -5px; }
  .container-card img {
    height: 230px;
    width: 270px;
    object-fit: contain; }
  .container-card .slideshow-buttons {
    top: 70%;
    display: none; }
  .container-card .one {
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: #E0C9CB;
    right: 22%; }
  .container-card .product-img,
  .container-card .product {
    width: 50%;
    float: right;
    height: 340px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    overflow: hidden;
    margin-right: 5px; }
    .container-card .product-img a,
    .container-card .product a {
      text-decoration: none; }
  .container-card .desc {
    text-transform: none;
    letter-spacing: 0;
    margin-bottom: 17px;
    color: #4E4E4E;
    font-size: .7em;
    line-height: 1.6em;
    margin-left: 25px;
    text-align: justify; }
  .container-card button {
    background: #cda9ac;
    padding: 10px;
    display: inline-block;
    outline: 0;
    border: 0;
    margin: -1px;
    border-radius: 2px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #F5F5F5;
    cursor: pointer; }
    .container-card button:hover {
      background: #BA7E7E;
      transition: all .4s ease-in-out; }
  .container-card .add {
    width: 67%; }
  .container-card .like {
    width: 22%; }
  .container-card ::-webkit-scrollbar {
    width: 15px; }
  .container-card ::-webkit-scrollbar-track {
    background-color: transparent; }
  .container-card ::-webkit-scrollbar-thumb {
    background-color: #D9AAB7;
    border-radius: 20px; }
  .container-card .pick {
    margin-top: 11px;
    margin-bottom: 0;
    margin-right: 20px;
    text-align: center; }
  .container-card .size {
    padding: 9px;
    border: 1px solid #E0C9CB;
    font-size: 0.7em;
    text-align: center; }
    .container-card .size:hover {
      background: #BA7E7E;
      color: #F5F5F5;
      transition: all .4s ease-in-out; }
  .container-card .focus {
    background: #BA7E7E;
    color: #F5F5F5; }
  .container-card footer {
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 0.8em;
    text-transform: uppercase;
    padding: 10px; }
    .container-card footer p {
      letter-spacing: 3px; }
    .container-card footer a {
      color: #ffffff;
      text-decoration: none; }
      .container-card footer a:hover {
        color: #7d7d7d; }

section#work .product-card {
  display: flex;
  justify-content: center; }
  section#work .product-card .product-back {
    position: relative;
    width: 80%;
    height: 80%; }
    section#work .product-card .product-back h1.card-title {
      position: absolute;
      background-color: #7771A8;
      top: 10%;
      left: 50%;
      transform: translate(-50%, -50%);
      padding: 10px 20px;
      border-radius: 10px;
      font-weight: 800;
      z-index: 1; }
    section#work .product-card .product-back h1.card-contact {
      position: absolute;
      background-color: #7771A8;
      top: 90%;
      left: 50%;
      transform: translate(-50%, -50%);
      padding: 10px 20px;
      border-radius: 10px;
      font-weight: 800;
      z-index: 1;
      color: #F2ECFF; }
    section#work .product-card .product-back .cube {
      position: absolute;
      height: 60%;
      background: #7771A8;
      box-shadow: 0 0 10px rgba(119, 113, 168, 0.5);
      z-index: 1;
      display: flex;
      flex-direction: column-reverse; }
      section#work .product-card .product-back .cube .cube-img-container {
        position: relative;
        display: flex;
        align-items: flex-end; }
        section#work .product-card .product-back .cube .cube-img-container .cube-img {
          position: absolute;
          width: 100%;
          object-fit: cover;
          object-position: bottom;
          z-index: 3;
          left: 0%; }
    section#work .product-card .product-back .cube-middle {
      border-radius: 50px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 30%; }
    section#work .product-card .product-back .cube-left {
      width: 25%;
      top: 50%;
      left: 12.5%;
      border-radius: 0 50px 50px 0;
      transform: translate(-50%, -50%); }
    section#work .product-card .product-back .cube-right {
      width: 25%;
      top: 50%;
      right: -12.5%;
      border-radius: 50px 0 0 50px;
      transform: translate(-50%, -50%); }
    section#work .product-card .product-back .card-img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      border-radius: 50px; }
    section#work .product-card .product-back::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(59, 59, 59, 0.6);
      border-radius: 50px; }

@media (max-width: 992px) {
  .navbar .container-fluid {
    padding-bottom: 10px; }
  .product-back {
    width: 90% !important; } }

@media (max-width: 768px) {
  #carouselExampleAutoplaying span.on-img {
    font-size: 1.5em; }
  #carouselExampleAutoplaying .carousel-item img {
    height: 600px !important; }
  #product {
    padding: 0 50px; }
  #work {
    padding: 0; }
    #work .product-back {
      width: 100% !important; }
      #work .product-back .card-title,
      #work .product-back .card-contact {
        font-size: 1.25rem; }
      #work .product-back img {
        border-radius: 0 !important; }
      #work .product-back::after {
        border-radius: 0 !important; }
    #work .cube-middle {
      border-radius: 10px !important; }
    #work .cube-left {
      width: 25%;
      top: 50%;
      left: 12.5%;
      border-radius: 0 10px 10px 0 !important;
      transform: translate(-50%, -50%); }
    #work .cube-right {
      width: 25%;
      top: 50%;
      right: -12.5%;
      border-radius: 10px 0 0 10px !important;
      transform: translate(-50%, -50%); } }

@media (max-width: 576px) {
  #carouselExampleAutoplaying span.on-img {
    font-size: 0.9em; }
  #carouselExampleAutoplaying .carousel-item img {
    height: 400px !important; }
  #product {
    padding: 0; }
  .row {
    margin: 0 0;
    padding: 0 5px; }
  .container-card h1 {
    font-size: 1em; }
  .container-card h4 {
    font-size: .8em; }
  .container-card .desc {
    font-size: 0.65em; }
  .container-card img {
    height: 180px;
    width: 200px;
    object-fit: contain; } }
