{{ define "main" }}
{{ partial "header-product" . }}

<div class="back-ground">
    <div class="container-lg py-5">
        <div class="row">
            <div class="col-md-7 product-text">
                <h1 class="py-3 text-center"> {{.Title}}</h1>
                <p class="text-center ">
                    {{ .Params.pargraph1 }}
                </p>
                <p class="p-3 text-center">
                    {{ .Params.pargraph2 }}
                </p>
            </div>
            <div class="col-md-5">
                <img class="w-100 product-img" src="{{ .Params.heroImg}}" alt="image not found">
            </div>
        </div>
    </div>
</div>

<div class="container-lg">
    <div class="gallary">
        <section class="image-gallery">
            <div>
                {{ with .Params.images }}
                {{ range $index, $img := . }}
                <a href="{{ $img }}" data-lightbox="modles" data-title="الصورة-{{ add $index 1 }}">
                    <img src="{{ $img }}" alt="image not found">
                </a>
                {{ end }}
                {{ end }}
            </div>
        </section>

        <div class="contact-holder mt-3">
            <a id="contactUs" target="_blank"
                href="https://api.whatsapp.com/send/?phone=%2B966598538001&text&type=phone_number&app_absent=0">
                <h1 class="card-contact">
                    اتصل بنا
                </h1>
            </a>
        </div>
    </div>
</div>



{{ partial "footer" . }}
{{ partial "bottom" . }}
<script src="{{.Site.BaseURL}}js/lightbox-plus-jquery.min.js"></script>
<script src="../../js/lightbox-plus-jquery.min.js"></script>

{{ end }}