<section class="container-md" id="about-us">
    <div class="w-100">
        <h1 class="title my-5">عنا</h1>
    </div>
    <p class="about-us-details p-3">
        استثمر في زي موحد يعكس قيمة علامتك التجارية. نحن نؤمن بأن الزي الموحد ليس مجرد قطعة ملابس، بل هو استثمار في صورة
        شركتك. لهذا السبب، نستخدم فقط أفضل الخامات والأقمشة التي تضمن لك متانة وراحة طويلتي الأمد. خياطتنا المتقنة
        وتطريزنا الدقيق يضمنان لك زيًا موحدًا يحافظ على شكله وألوانه لفترة طويلة. سواء كنت تعمل في بيئة صعبة أو تحتاج
        إلى زي موحد أنيق، فإننا نقدم لك الحل الأمثل.

        <br>
        نصنع هويتك المميزة بأرقى أنواع الزي الموحد. تصميم وتنفيذ خياطة وتطريز وطباعة احترافية لجميع القطاعات: طبية،
        صناعية، خدمية، فندقية، وغيرها. بدلات عمل، تيشيرتات، لابكوتات، أفرول، قبعات، أحذية، وكل ما تحتاجه من مستلزمات
        اليونيفورم. 
    
    </p>
</section>