<section id="footer">
    <div class="container-lg py-5 mt-3">

        <div class="row">
            <div class="col-md-6 footer-text">
                <img class="footer-img" src="{{ .Site.BaseURL }}/images/logo.png" alt="logo not found">
                <p class="text-center">شحن لجميع مناطق المملكة العربية السعودية</p>
                <p>تفصيل تطريز حسب الطلب</p>
                <div class="info my-4">
                    <div>
                        <span>
                            <i class="fas fa-phone"></i>
                            <b>الهاتف</b>
                        </span>
                <span class="ltr" dir="ltr">+966 59 853 8001</span>
                    </div>
                    <div>
                        <span>
                            <i class="fas fa-map-marker-alt"></i>
                            <b>العنوان</b>
                        </span>
                        <h3>تقاطع غرناطة السبعين
                            - حي العزيزية - جده</h3>
                    </div>
                    <div>
                        <span>
                            <i class="fas fa-envelope"></i>
                            <b>البريد الإلكتروني</b>
                        </span>
                        <h3>wesaam.2003.ali@gmail.com</h3>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d275.8199439853493!2d39.20567736363107!3d21.547792384399315!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x15c3d17cdc315a81%3A0x3324f3c02fe7fdd2!2z2KfZhNiy2Yog2KfZhNmF2YjYrdivINin2YTYrNiv2YrYrw!5e0!3m2!1sen!2ssa!4v1733279414222!5m2!1sen!2ssa"
                    width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade" id="map"></iframe>
            </div>
        </div>
    </div>

</section>