<section id="footer">
    <div class="container-lg py-5 mt-3">
        <div class="row">
            <div class="col-md-6 footer-text">
                <img class="footer-img" src="{{ .Site.BaseURL }}/images/logo.png" alt="logo not found">
                <p class="text-center">شحن لجميع مناطق المملكة العربية السعودية</p>
                <div>
                    <div class="info my-4">
                        <div >
                            <span>
                                <i class="fas fa-phone"></i>
                                <p>الهاتف</p>
                            </span>
                            <div class="d-flex flex-row-revers justify-content-around w-100">
                                <span class="ltr" dir="ltr"><a class="text-decoration-none " href="tel:966598538001">+966 59 853 8001</a></span>
                                <span class="ltr" dir="ltr"><a class="text-decoration-none " href="tel:966596178001">+966 59 617 8001</a></span>
                            </div>
                        </div>
                        <div>
                            <span>
                                <i class="fas fa-map-marker-alt"></i>
                                <p>العنوان</p>
                            </span>
                            <h3> موقعنا في جدة الزي الموحد الجديد
                                العزيزية، 7389 الأمير ماجد، حي العزيزية</h3>
                        </div>
                        <div>
                            <span>
                                <i class="fas fa-envelope"></i>     
                                <p>البريد الإلكتروني</p>
                            </span>
                            <div class="d-flex flex-row-revers justify-content-around w-100">
                                <h3><a class="text-decoration-none" href="mailto:info@tailoruniforms.net">info@tailoruniforms.net</a></h3>
                                <h3><a class="text-decoration-none" href="mailto:sales@tailoruniforms.net">sales@tailoruniforms.net</a></h3>
                            </div>
                        </div>
                        <div class="icon-holder">
                            <span>
                                <a href="https://www.facebook.com/profile.php?id=100069698631218&mibextid=ZbWKwL">
                                    <i class="fab fa-facebook-square"></i>
                                    <p>فيسبوك</p>
                                </a>
                            </span>
                            <span>
                                <a href="https://www.instagram.com/tailoruniform?utm_source=qr&igsh=ZTdnN25qajYxamE=">
                                    <i class="fab fa-instagram"></i>
                                    <p>انستقرام</p>
                                </a>
                            </span>
                            <span>
                                <a href="https://www.tiktok.com/@tailoruniform?is_from_webapp=1&sender_device=pc">
                                    <i class="fab fa-tiktok"></i>
                                    <p>تيك توك</p>
                                </a>
                            </span>
                            <span>
                                <a
                                    href="https://haraj.com.sa/users/%D8%A7%D9%84%D8%B2%D9%8A%20%D8%A7%D9%84%D9%85%D9%88%D8%AD%D8%AF%20%D8%A7%D9%84%D8%AC%D8%AF%D9%8A%D8%AF">
                                    <i class="fas fa-shopping-cart"></i>
                                    <p>حراج</p>
                                </a>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d275.8199439853493!2d39.20567736363107!3d21.547792384399315!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x15c3d17cdc315a81%3A0x3324f3c02fe7fdd2!2z2KfZhNiy2Yog2KfZhNmF2YjYrdivINin2YTYrNiv2YrYrw!5e0!3m2!1sen!2ssa!4v1733279414222!5m2!1sen!2ssa"
                    width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade" id="map"></iframe>
            </div>
        </div>
    </div>
</section>