<section class="container-fluid" id="work">
    <div class="w-100">
        <h1 class="title my-5">أعملانا</h1>
    </div>

    {{ range .Site.Data.work }}

    <div class="product-card mb-3">
        <div class="product-back">

            <h1 class="card-title">
                {{ .catagory}}
            </h1>
            <a target="_blank"
                href="https://api.whatsapp.com/send/?phone=%2B966598538001&text&type=phone_number&app_absent=0">
                <h1 class="card-contact">
                    اتصل بنا
                </h1>
            </a>

            <div class="cube cube-middle">
                <div class="cube-img-container">
                    <img class="cube-img" src="{{ .middleImg }}" alt="card image not found">
                </div>
            </div>

            <div class="cube cube-right">
                <div class="cube-img-container">
                    <img class="cube-img" src=" {{ .rightImg }} " alt="card image not found">
                </div>
            </div>

            <div class="cube cube-left">
                <div class="cube-img-container">
                    <img class="cube-img" src=" {{ .leftImg }}" alt="card image not found">
                </div>
            </div>

            <img src=" {{ .backImg }} " alt="card image not found" class="card-img">
        </div>

    </div>

    {{end}}

</section>