$primary-color: #7771A8;
$secondary-color: #444176;
$tertiary-color: #312F55;
$text-color: #F2ECFF;
$light: #E0C9CB;
$light-tan: #C3A1A0;
$light-pink: #D9AAB7;
$dark-pink: #BA7E7E;
$dark-gray: #4E4E4E;
$off-white: #F5F5F5;